<div class="row row-cols-2 g-0">
    <div class="col">
        {% include 'Assistants/one_thread.html.twig' with {
            'informations': thread1
        } %}
    </div>
    <div class="col">
        {% include 'Assistants/one_thread.html.twig' with {
            'informations': thread2
        } %}
    </div>
</div>