{% include 'Components/headers.html.twig' %}
<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="modal modal-sheet position-fixed align-items-center justify-content-center"
     style="background: transparent; padding: 50px; top: 0; bottom: 0; left: 0; right: 0; max-width: calc(100% - 50px); margin: auto; border-radius: 20px;"
     role="dialog" id="modalLog">
    <div class="modal-dialog modal-fullscreen p-0 m-0 h-100" role="document">
        <div class="modal-content rounded-4 shadow h-100"
             style="margin: auto; background: linear-gradient(113.22deg, #0C0F20 3.83%, #111A47 16.77%, #111A48 28.4%, #111A48 74.4%, #2536AF 102.38%);">
            <div class="modal-header p-5 pb-4 border-bottom-0" style="margin: auto; max-width: calc(100% - 100px);">
                <h1 id="logTitle" class="fw-bold mb-0 fs-2" style="color: white;">
                    Chargement des données...
                </h1>
                <button type="button" class="btn" data-bs-dismiss="modal"
                        aria-label="Close" onclick="hideLog()" style="position: absolute; right: 120px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
            <div id="logContent" class="modal-body p-5 pt-0 overflow-auto"
                 style="height: calc(100% - 100px); margin: auto; max-width: calc(100% - 100px);">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1">
        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white"
                 class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16"
                 onclick="goBack({{ id_tool }})"
                 style="cursor: pointer;">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"></path>
            </svg>
        </div>
    </div>
    <div class="col-9" style="margin-top: 22px;">
        {% include 'Components/breadcrumb.html.twig' with {
            'past': [
                {'link': '/', 'name': 'Accueil'},
                {'link': '/tool', 'name': 'Liste des outils'},
                {'link': '/tool/' ~ id_tool, 'name': name_tool}
            ],
            'current': 'Statistiques de ' ~ name_language
        } %}
    </div>
</div>

<div class="content" style="margin-bottom: 10px; background-color: transparent;">
    <div class="card" style="margin-left: 10px; margin-right: 10px; background-color: transparent;">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-xl-2 p-3 g-3">

                <div class="col">
                    <div class="card h-100 cards" style="font-weight: normal; font-size: medium;">
                        <h3 class="text-center">
                            Evolution du temps de réponse en fonction de l'heure
                        </h3>
                        {% if data_scatterplot is not empty %}
                            {% include 'Statistics/Components/Components_Tools/scatterplot.html.twig' with {
                                'data': data_scatterplot
                            } %}
                        {% else %}
                            {% include 'Components/nodata.html.twig' with {
                                'message': "Des données sont manquantes veuillez ajouter plus de log
                                        afin que ce graphique puisse s'afficher correctement.", 'isError': 'true'
                            } %}
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 cards" style="font-weight: normal; font-size: medium;">
                        <h3 class="text-center">Evolution du temps de réponse</h3>
                        {% if data_linechart is not empty %}
                            {% include 'Statistics/Components/Components_Tools/linechart.html.twig' with {
                                'data': data_linechart,
                                'y_name': "Temps de réponse (ms)"
                            } %}
                        {% else %}
                            {% include 'Components/nodata.html.twig' with {
                                'message': "Des données sont manquantes veuillez ajouter plus de log
                                        afin que ce graphique puisse s'afficher correctement.", 'isError': 'true'
                            } %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let id_language = {{ id_language|json_encode|raw }};


    /**
     * Redirige vers la page d'un log spécifique et affiche ses informations dans un modal.
     */
    async function goTo(id) {
        showLog();
        let level = 0;
        await postRequest("/tool/log/level", {id: id})
            .then(response => {
                level = JSON.parse(response)['level'];
            });
        await getRequest("/tool/language/log", {id: id})
            .then(response => {
                document.getElementById('logTitle').innerHTML = 'Information du log';
                document.getElementById('logContent').innerHTML = response;
                document.getElementById("level_pastille_" + id).style.fill = getColorLevel(level);
                document.querySelectorAll('.message-card pre').forEach(function (element) {
                    if (element.textContent.length > 300) {
                        const originalText = element.textContent;
                        const truncatedText = originalText.substring(0, 300) + '...';

                        element.textContent = truncatedText;
                        element.classList.add('truncated');

                        const showMoreLink = document.createElement('a');
                        showMoreLink.href = '#';
                        showMoreLink.textContent = 'Afficher plus';
                        showMoreLink.classList.add('show-more');
                        showMoreLink.addEventListener('click', function (event) {
                            event.preventDefault();
                            if (element.classList.contains('truncated')) {
                                element.textContent = originalText;
                                element.classList.remove('truncated');
                                showMoreLink.textContent = 'Afficher moins';
                            } else {
                                element.textContent = truncatedText;
                                element.classList.add('truncated');
                                showMoreLink.textContent = 'Afficher plus';
                            }
                        });
                        element.parentNode.appendChild(showMoreLink);
                    }
                });
            })
            .catch(error => {
                show_danger_message("La récupération des données a échoué : " + error);
            });
    }


    /**
     * Affiche le modal de chargement des logs.
     */
    function showLog() {
        document.getElementById('modalLog').classList.add("d-flex");
    }


    /**
     * Cache le modal de chargement des logs.
     */
    function hideLog() {
        document.getElementById('modalLog').classList.remove("d-flex");
        document.getElementById('logContent').innerHTML = `
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>`;
    }


    /**
     * Redirige vers la page de l'outil en utilisant son identifiant.
     */
    function goBack() {
        window.location.href = '/tool/' + {{ id_tool }};
    }


    /**
     * Retourne la couleur associée à un niveau de log donné.
     */
    function getColorLevel(level) {
        switch (true) {
            case (level <= 10 && level >= 0):
                return "rgba(  0, 255,   0, 1)";
            case (level <= 20 && level >= 0):
                return "rgba(100, 255,   0, 1)";
            case (level <= 30 && level >= 0):
                return "rgba(150, 255,   0, 1)";
            case (level <= 40 && level >= 0):
                return "rgba(200, 255,   0, 1)";
            case (level <= 50 && level >= 0):
                return "rgba(255, 255,   0, 1)";
            case (level <= 60 && level >= 0):
                return "rgba(255, 200,   0, 1)";
            case (level <= 70 && level >= 0):
                return "rgba(255, 150,   0, 1)";
            case (level <= 80 && level >= 0):
                return "rgba(255, 100,   0, 1)";
            case (level <= 90 && level >= 0):
                return "rgba(255,  50,   0, 1)";
            case (level <= 100 && level >= 0):
                return "rgba(255,   0,   0, 1)";
            default:
                return "rgba(200, 200, 200, 1)";
        }
    }
</script>