<div class="chat-message-left pb-4" style="font-size: medium; font-weight: normal; background: #0e1022;">
    <div>
        <img src="{{ asset('images/' ~ image) }}" style="background-color: white;"
             class="rounded-circle mr-1" alt="Image" width="40" height="40">
        <div class="text-muted small text-nowrap mt-2">{{ date | raw }}</div>
    </div>
    <div class="flex-shrink-1 bg-dark rounded py-2 px-3 ml-3 message-card text-start">
        <div class="font-weight-bold mb-1" style="color: white;"><u>{{ role }}</u></div>
        <pre style="white-space: pre-wrap; color: white;">{{ message }}</pre>
    </div>
</div>

<style>
    .chat-message-left {
        display: flex;
        flex-shrink: 0;
        margin-right: auto;
    }

    /* IE 10+ */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .message-card {
            max-width: 100%;
        }
    }

    /* Edge 12-15 */
    @supports (-ms-ime-align: auto) {
        .message-card {
            max-width: 100%;
        }
    }

    /* Safari */
    @media not all and (min-resolution: .001dpcm) {
        @media {
            .message-card {
                max-width: 100%;
            }
        }
    }

    /* Pour Google Chrome mais ne fonctionne pas SAUF sur Firefox... */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .message-card {
            max-width: 90%;
        }
    }
</style>