<html>
<body>
<!--Début carousel-->
    <div id="carouselExampleCaptions" class="carousel slide affichage_carousel" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active fond_carousel">
          <img src="images/banque_d_images/1.jpg" class="d-block image_carousel" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Titre slide 1</h5>
            <p>Texte slide 1</p>
            <p><a class="btn btn-lg btn-primary" href="#">Bouton centre avec lien</a></p>
          </div>
        </div>
        <div class="carousel-item fond_carousel">
          <img src="images/banque_d_images/2.jpg" class="d-block image_carousel" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Titre slide 2</h5>
            <p>Texte slide 2</p>
            <p><a class="btn btn-lg btn-primary" href="#">Bouton centre avec lien</a></p>
          </div>
        </div>
        <div class="carousel-item fond_carousel">
          <img src="images/banque_d_images/3.jpeg" class="d-block image_carousel" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Titre slide 3</h5>
            <p>Texte slide 3</p>
            <p><a class="btn btn-lg btn-primary" href="#">Bouton centre avec lien</a></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<!--Fin carousel-->

<!--Début album-->
    <div class="album py-5">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/4.jpg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/5.jpg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/6.jpeg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>                    
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/7.jpg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>                    
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/8.jpg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>                    
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/9.jpg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/10.jpeg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/11.jpeg" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/banque_d_images/12.webp" alt="...">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu est arcu. Donec ultrices nisi orci, sed tristique elit ultrices vitae.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-primary" href="#">Regarder</a></p>
                  </div>
                  <small class="text-muted">Date</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--Fin album-->

    {% include('footer.html') %}

  </body>
</html>